/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
 margin: 0;
 padding: 0;
}

html,
body {
 height: 100vh;
}

.navbar {
 background-color: orange;
}

.navbar-toggler {
 background: white;
}

.introduction {
 width: 100%;
 height: 100vh;
 background-image: url(yos0034-054.jpg);
 background-position: 50% 50%;
 background-size: cover;
}

.introduction > h1,
.introduction > p {
 text-align: center;
 color: white;
}

.introduction > h1 {
 padding-top: 200px;
}

.links > a {
 color: white !important;
}

.sign-in-form,
.sign-up-form{
 color: white;
 text-align: center;
 padding-top: 50px;
 height: 100%;
}

.sign-up-form {
 height: 100vh;
 background-image: url(4422790_l.jpg);
 background-position: center bottom;
 background-size: cover;
}

.sign-in-form {
 height: 100vh;
 background-image: url(salad-2068220_1920.jpg);
 background-position: 100% 0%;
 background-size: cover;
}

.error_messages {
 list-style: none;
}

.my-page,
.index {
 overflow: hidden;
 background-image: url(background-2186565_1920.jpg);
 background-size: cover;
}

.index-header {
 color: white;
}

.profile {
 display: flex;
 justify-content: space-between;
}

.user-introduction {
 color: white;
}

.recipe-container {
 margin-bottom: 20px;
 height: 100vh;
 margin-bottom: 150px;
}

.recipe-card {
 margin-top: 20px;
 background-color: orange;
}

.card-text {
 color: white;
 text-align: center;
}

.no-recipe-message {
 height: 100vh;
 color: white;
 text-align: center;
 vertical-align: center;
}

.pagination {
 margin-top: 10px;
 justify-content: center;
}

.new-recipe {
 height: 100vh;
 display: flex;
 justify-content: center;
 overflow: hidden;
 background-image: url(cook-2364221_1920.jpg);
 background-size: cover;
 background-position: 50% 100%;
}

.recipe-post-form {
 color: white;
}

.wrapper {
 min-height: 100vh;
 position: relative;
 padding-bottom: 50px;
 box-sizing: border-box !important;
}

.footer {
 color: white;
 width: 100%;
 height:50px;
 background-color: orange;
 line-height: 50px;
 position: absolute;
 bottom: 0;
}