/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.navbar {
 background-color: orange;
}

.navbar-toggler {
 background: white;
}

.introduction {
 width: 100%;
 height: 100%;
 background-image: url(yos0034-054.jpg);
 background-size: cover;
}

.introduction > h1,p {
 text-align: center;
 color: white;
}

.introduction > h1 {
 padding-top: 200px;
}

.links > a {
 color: white !important;
}

.sign-in-form,
.sign-up-form{
 color: white;
 text-align: center;
 padding-top: 50px;
 height: 100%;
}

.sign-up-form {
 background-image: url(4422790_l.jpg);
 background-position: center bottom;
 background-size: cover;
}

.sign-in-form {
 background-image: url(salad-2068220_1920.jpg);
 background-position: 100% 0%;
 background-size: cover;
}

.error_messages {
 list-style: none;
}

.footer {
 color: white;
 width: 100%;
 height:50px;
 background-color: orange;
 line-height: 50px;
 position: absolute;
 bottom: 0;
}

.wrapper {
  min-height: 100vh;
  height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
 }